<main>
  <div class="position-relative">
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <!-- 1st Hero Variation -->
    <section class="section pb-0 bg-gradient-warning">

      <div class="container" style="padding-bottom: 150px;">
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <form #user_form="ngForm" (ngSubmit)="adduser(user_form)" enctype="multipart/form-data">
              <div class="form-group ">
                <label for="firstname">firstname</label>
                <input type="text"   name="firstname" class="form-control" id="firstname" ngModel>
              </div>
              <div class="form-group ">
                <label for="lastname">lastname</label>
                <input type="text"   name="lastname" class="form-control" id="lastname" ngModel>
              </div>
              <div class="form-group ">
                <label for="email">email</label>
                <input type="text"   name="email" class="form-control" id="email" ngModel>
              </div>

              <div class="form-group">
                <label for="entreprise">Select Etreprise</label>
                <select name = "entreprise" class="form-control" ngModel>
                  <option *ngFor="let ent of this.entreprises ; index as i" [value]="i+1">
                    {{ent.name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="role">Select Role</label>
                <select name = "role" class="form-control" ngModel>
                  <option *ngFor="let role of this.roles ; index as i" [value]="i+1">
                    {{role.name}}
                  </option>
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Add</button>
              </div>
              <br/>

            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>