<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="javascript:void(0)">
              <img src="assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a routerLink="/files" class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Files</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/users" class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Users</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>