<main>
  <div class="position-relative">
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    <!-- 1st Hero Variation -->
  <section class="section pb-0 bg-gradient-warning">
    <button type="button" routerLink="/add-file" class="btn btn-primary" style="margin-left: 45%;">Add New File</button>
    <div class="container" style="padding-bottom: 150px;">
      <div class="card shadow shadow-lg--hover mt-5">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Ref</th>
                <th scope="col">Type</th>
                <th scope="col">Extension</th>
                <th scope="col">Size</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files">
                <td class="hidden">{{file.id}}</td>
                <td>{{file.type}}</td>
                <td>{{file.extension}}</td>
                <td>{{file.size}}</td>
                <td align="center">
                    <button class="btn btn-danger" (click)="deleteFile(file.id)">Delete</button>
                    <button class="btn btn-info" (click)="fileInfo(file.id)" >Info</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
</main> 